<table style="height: 66px;" width="564">
<tbody>
<tr>
<td style="width: 555.6px; text-align: center;">
<h1><span style="background-color: #ffffff;"><strong><span style="color: #00ff00;">Зоомагазин</span>&nbsp;</strong></span></h1>
</td>
</tr>
</tbody>
</table>
<p><img src="http://lapkins.ru/upload/iblock/16c/16c3c91afece809956583c8df184dc78.jpg" alt="собаки " width="200" height="128" />&nbsp;<img src="https://damion.club/uploads/posts/2022-01/1642790260_73-damion-club-p-nyashnie-kotiki-76.jpg" alt="кошки" width="171" height="126" />&nbsp; &nbsp;<img src="https://www.zastavki.com/pictures/1600x1200/2015/Animals___Birds_A_pair_of_parrots_with_blue_feathers_108332_2.jpg" alt="" width="147" height="108" /></p>
<table style="height: 9px;" width="563">
<tbody>
<tr>
<td style="width: 181.4px; text-align: center;"><em><strong>Собаки&nbsp;</strong></em></td>
<td style="width: 181.4px; text-align: center;">&nbsp;<em><strong>Кошки</strong></em>&nbsp;</td>
<td style="width: 181.4px; text-align: center;">&nbsp;&nbsp;<strong><em>Попугаи&nbsp;</em></strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;<img src="https://webpulse.imgsmail.ru/imgpreview?mb=webpulse&amp;key=pulse_cabinet-image-a37a5031-a7a4-43b6-86da-34015ceb9860" alt="хомяки " width="191" height="125" /><img src="https://kartinkin.net/uploads/posts/2022-12/1670659597_27-kartinkin-net-p-milie-kartinki-s-krisami-krasivo-27.jpg" alt="крысы" width="173" height="130" /><img src="https://www.zdf.de/assets/comedy-wildlife-photography-116~3840x2160?cb=1602259812209" alt="рыбки " width="171" height="96" /></p>
<table style="height: 5px;" width="569">
<tbody>
<tr>
<td style="width: 183.4px; text-align: center;">&nbsp;<em><strong>хомяки&nbsp;</strong></em></td>
<td style="width: 183.4px; text-align: center;"><em><strong>&nbsp;крысы</strong></em></td>
<td style="width: 183.4px; text-align: center;"><em><strong>Рыбки&nbsp;</strong></em></td>
</tr>
</tbody>
</table>